.c-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "boxes";
}

.c-boxes {
  grid-area: boxes;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: theme("spacing.5");
}

@media screen and (min-width: theme("screens.tablat")) {
  .c-container {
    grid-template-columns: 1fr;
    grid-template-areas: "boxes";
  }
}
