.c-container {
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "content";
}

.c-title {
  grid-area: title;
}

.c-content {
  grid-area: content;
}

