<div
  class="c-container grid grid-flow-row place-items-center p-6 pc:p-14 rounded-tr-[5rem] rounded-bl-[5rem] bg-phraseBg"
>
  <app-quote-svg [class]="['w-12', 'h-12', 'fill-current', 'text-text']" />
  <p class="mt-2 pc:mt-3 pc:text-lg text-center tracking-wide text-text">
    All mental phenomena are preceded by mind, Mind is their master, they are
    produced by mind. If somebody speaks or acts With a corrupted mind, Hence
    suffering follows him, like the wheel the foot of the bearing animal.
  </p>
  <div
    class="w-36 pc:w-40 mt-8 pc:mt-8 mb-3 lg:mb-6 border-b border-border"
  ></div>
  <button class="gc-link-button grid grid-flow-col">
    <span class="self-center pc:text-lg tracking-wide text-focus"
      >dhammapada</span
    >
    <app-rarrow-svg
      [class]="['w-7', 'h-7', 'ml-1', 'fill-focus', 'inline-block']"
    />
  </button>
</div>
