<section
  class="c-secion grid grid-flow-row place-items-center p-6 lg:p-14 rounded-tr-[5rem] rounded-bl-[5rem] bg-[#E0C9A6]"
>
  <svg-icon
    src="assets/icons/quotes.svg"
    [svgClass]="['fill-current', 'text-gray-500']"
    [svgStyle]="{ 'width.px': 50, 'height.px': 50 }"
  ></svg-icon>
  <p class="pt-2 lg:pt-3 lg:text-lg text-center tracking-wide text-gray-600">
    All mental phenomena are preceded by mind, Mind is their master, they are
    produced by mind. If somebody speaks or acts With a corrupted mind, Hence
    suffering follows him, like the wheel the foot of the bearing animal.
  </p>
  <div
    class="w-36 lg:w-40 mt-8 lg:mt-8 mb-3 lg:mb-6 border-b border-gray-500"
  ></div>
  <a routerLink="" class="grid grid-flow-col">
    <span class="self-center lg:text-lg tracking-wide text-focus"
      >dhammapada</span
    >
    <svg-icon
      src="assets/icons/arrow_right.svg"
      [svgClass]="['w-7', 'h-7', 'pl-1', 'fill-blue-400', 'inline-block']"
    ></svg-icon>
  </a>
</section>
