<footer class="pb-5 bg-bgc dark:bg-bgc-dark text">
  <p class="logo py-1 lg:pr-4 text-xl lg:text-2xl capitalize">pali</p>

  <p
    class="copyright lg:pl-4 lg:border-l-2 border-bdc dark:border-bdc-dark text-sm"
  >
    © Copyright 2023. All Rights Reserved.
    <!-- <a href="https://twitter.com/knyttneve" rel="copyright" target="_blank" -->
    <!--   >© Copyright 2023. All Rights Reserved. -->
    <!-- </a> -->
  </p>

  <div class="links py-5">
    <a href="#" aria-label="Email" class="focus:outline-none hover">
      <svg-icon src="assets/icons/mail.svg" [svgClass]="['svg']"></svg-icon>
    </a>
  </div>
</footer>
