<footer class="pt-8 lg:pt-20 pb-5 lg:pb-14 bg-bgc dark:bg-bgc-dark">
  <p
    class="c-logo py-1 lg:pr-4 text-xl lg:text-2xl capitalize g-text-secondary"
  >
    pali
  </p>

  <p
    class="c-copyright lg:pl-4 lg:border-l-2 border-bdc dark:border-bdc-dark text-sm g-text-secondary"
  >
    © Copyright 2023. All Rights Reserved.
  </p>

  <div class="c-links py-5">
    <button class="g-button">
      <svg-icon
        src="assets/icons/mail.svg"
        [svgClass]="['g-svg', 'g-hover']"
      ></svg-icon>
    </button>
  </div>
</footer>
