footer {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
  grid-template-columns: theme("spacing.smPadding") 1fr theme(
      "spacing.smPadding"
    );
  grid-template-areas: "left-padding copyright right-padding";
}

.c-copyright {
  grid-area: copyright;
}

@media screen and (min-width: theme("screens.md")) {
  footer {
    display: grid;
    grid-template-rows: auto;
    column-gap: theme("spacing.20");
    grid-template-columns: theme("spacing.lgPadding") auto auto theme(
        "spacing.lgPadding"
      );
    grid-template-areas: "left-padding copyright links right-padding";
  }

  .c-copyright {
    justify-self: end;
  }

  .c-links {
    grid-area: links;
    justify-self: start;
  }
}
