footer {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: theme("spacing.smPadding") 1fr theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-area logo right-area"
    "left-area copyright right-area"
    "left-area links right-area";
}

.c-logo {
  grid-area: logo;
  place-self: center;
}

.c-copyright {
  grid-area: copyright;
  place-self: center;
}

.c-links {
  grid-area: links;
  place-self: center;
}

@media screen and (min-width: theme("screens.md")) {
  footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: theme("spacing.lgPadding") auto 1fr auto theme(
        "spacing.lgPadding"
      );
    grid-template-areas: "left-area logo copyright links right-area";
  }

  .c-logo {
    justify-self: start;
  }

  .c-copyright {
    justify-self: start;
  }

  .c-links {
    justify-self: end;
  }
}
