<footer class="pb-5 bg-bgc dark:bg-bgc-dark c-text">
  <p class="logo py-1 lg:pr-4 text-xl lg:text-2xl capitalize">pali</p>

  <p
    class="copyright lg:pl-4 lg:border-l-2 border-bdc dark:border-bdc-dark text-sm"
  >
    © Copyright 2023. All Rights Reserved.
  </p>

  <div class="links py-5">
    <button
      class="menu-btn p-1 rounded-md border border-bdc dark:border-bdc-dark c-hover"
    >
      <svg-icon src="assets/icons/mail.svg" [svgClass]="['c-svg']"></svg-icon>
    </button>
  </div>
</footer>
