<section g-fade-in class="c-dialog d-box">
  <h2
    class="c-title d-title g-fade-in"
    [class.text-ok]="isSuccessful"
    [class.text-error]="isFailed"
    *mcRerender="titleShowing"
  >
    {{ titleShowing }}
  </h2>
  <app-wheel
    *ngIf="!showPrompt"
    [size]="isLargeDevice ? 5 : 4"
    [delay]="500"
    [stop]="isSuccessful || isFailed"
    class="c-wheel"
  ></app-wheel>
  <p *ngIf="showPrompt" class="c-prompt g-paragraph g-fade-in mx-4">
    {{ prompt }}
  </p>
  <button
    *ngIf="isSuccessful || isFailed"
    class="d-button g-fade-in w-full mt-3"
    [class.d-error-button]="isFailed"
    (click)="onSubmit()"
  >
    OK
  </button>
</section>
