<div class="c-container">
  <app-overlay [opacity]="0.3" />
  <dialog
    open
    appFadeIn
    class="c-dialog gd-box absolute mt-[17vh] tablat:mt-[20vh] w-[17rem] tablat:w-[20rem] pc:w-[25rem]"
  >
    <h2
      class="c-title gd-title"
      [class.text-ok]="successInfo"
      [class.text-error]="errorInfo"
    >
      {{ errorInfo ? "Failed" : successInfo ? "Successful" : title }}
    </h2>
    @if (errorInfo || successInfo) {
      <p appFadeIn [class]="['c-text', 'gc-text', 'text-center', 'mx-4']">
        {{ errorInfo || successInfo }}
      </p>
      <button
        class="gd-button w-full mt-3"
        [class.gd-error-button]="errorInfo"
        (click)="onSubmit()"
      >
        OK
      </button>
    } @else {
      <app-wheel-svg
        [size]="'4rem'"
        delay="500ms"
        class="c-wheel tablat:hidden"
      />
      <app-wheel-svg
        [size]="'6rem'"
        delay="500ms"
        class="c-wheel hidden tablat:block"
      />
    }
  </dialog>
</div>
