<section appFader class="c-dialog d-box">
  <h2
    class="c-title d-title"
    [class.text-ok]="isSuccessful"
    [class.text-error]="isFailed"
    *mcRerender="titleShowing"
  >
    {{ titleShowing }}
  </h2>
  <p *ngIf="showPrompt; else wheel" appFader class="c-prompt g-text mx-4">
    {{ prompt }}
  </p>
  <ng-template #wheel>
    <app-wheel
      [size]="isLargeDevice ? 5 : 4"
      [delay]="500"
      [stop]="isSuccessful || isFailed"
      class="c-wheel"
    ></app-wheel>
  </ng-template>
  <button
    *ngIf="(isSuccessful || isFailed) && (stayWhenSuccessful || stayWhenFailed)"
    class="d-button w-full mt-3"
    [class.d-error-button]="isFailed"
    (click)="onSubmit()"
  >
    OK
  </button>
</section>
