<div class="c-container">
  <div appSlideIn class="mt-10 pc:mt-24">
    <p
      class="inline-block capitalize pc:text-xl gc-hl-title"
      [innerHtml]="(introduction ? introduction.title : '') | safeHtml"
    ></p>
    <p
      class="mt-4 pc:mt-8 leading-relaxed gc-text"
      [innerHtml]="(introduction ? introduction.text : '') | safeHtml"
    ></p>
    <div class="mt-4 pc:mt-8">
      <span
        class="inline-block w-40 pc:w-72 h-0.5 bg-focus rounded-full"
      ></span>
      <span class="inline-block w-3 h-0.5 ml-1 bg-focus rounded-full"></span>
      <span
        class="inline-block w-1 h-0.5 ml-1 bg-focus rounded-500 rounded-full"
      ></span>
    </div>
  </div>
  @for (dictionary of dictionaries; track dictionary.index) {
    <div
      appSlideIn
      [slideInDelay]="dictionary.index === 1 ? 800 : 1000"
      class="c-dictionary mt-12 pc:mt-36 pb-8 pc:pb-24 border-b gc-border"
      [class.border-b]="dictionary.index !== dictionaries.length"
    >
      @if (dictionary.index % 2) {
        <div class="c-book hidden pc:block">
          <app-book [config]="bookConfigFor(dictionary)" />
        </div>
      }
      <div>
        <p class="capitalize pc:text-xl gc-hl-title">{{ dictionary.name }}</p>
        <p
          class="mt-4 pc:mt-8 leading-relaxed gc-text"
          [innerHtml]="dictionary.description | safeHtml"
        >
          {{ dictionary.description }}
        </p>
        <div class="c-action mt-6 pc:mt-16">
          <app-icon-button
            (click)="openDictionaryUrl(dictionary)"
            [size]="'1.6rem'"
            [tip]="'Github'"
            [tipPosition]="'top'"
          >
            <app-github-svg [size]="'1.6rem'" [class]="'gc-button-svg'" />
          </app-icon-button>
          <app-icon-button
            (click)="downloadDictionary(dictionary)"
            [size]="'1.55rem'"
            [tip]="'Download'"
            [tipPosition]="'top'"
          >
            <app-download-svg [size]="'1.55rem'" [class]="'gc-button-svg'" />
          </app-icon-button>
        </div>
      </div>
      @if (!(dictionary.index % 2)) {
        <div class="c-book hidden pc:block">
          <app-book [config]="bookConfigFor(dictionary)" />
        </div>
      }
    </div>
  }
</div>
