.c-loader {
  width: var(--size);
  height: var(--size);
  border-right: var(--borderWidth) solid theme("colors.focus");
  border-left: var(--borderWidth) solid theme("colors.focus");
  border-top: var(--borderWidth) solid rgba(0, 0, 0, 0);
  border-bottom: var(--borderWidth) solid rgba(0, 0, 0, 0);
  border-radius: var(--size);
  animation: rotation 1.5s ease-in-out infinite;
  transition: 0.7s ease-in-out;
  display: grid;
  place-items: center;
}

.c-loader.c-successful {
  border: var(--borderWidth) solid theme("colors.focus");
  animation: none;
}

.c-loader.c-failed {
  border: var(--borderWidth) solid theme("colors.error");
  animation: none;
}

.c-svg {
  width: calc(var(--size) / 1.5);
  transition: 0.7s ease-in-out;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
