.c-container::after {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  height: var(--size);
  width: var(--size);
  content: attr(tooltip);
  padding: 0.3rem;
  border-radius: 50%;
  background: theme("colors.secondaryBg");
  color: theme("colors.text");
}
