.c-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: theme("spacing.smContentPadding") 1fr theme(
      "spacing.smContentPadding"
    );
  grid-template-areas: "left-padding dialog right-padding";
}

.c-dialog {
  grid-area: dialog;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "form";
  row-gap: theme(spacing.7);
}

.c-title {
  grid-area: title;
}

.c-form {
  grid-area: form;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "email"
    "button";
  row-gap: theme(spacing.6);
}

.c-email {
  grid-area: email;
}

.c-button {
  grid-area: button;
}

.c-email label:after {
  content: "*";
  color: theme("colors.error");
}

@media screen and (min-width: theme("screens.lg")) {
  .c-container {
    grid-template-columns: theme("spacing.lgPadding") 25vw theme(
        "spacing.lgPadding"
      );
    justify-content: center;
  }

  .c-dialog {
    row-gap: theme(spacing.10);
  }

  .c-form {
    row-gap: theme(spacing.8);
  }
}
