<div>
  @if (showLoader) {
    <app-loader
      title="Requesting..."
      [errorInfo]="errorInfo"
      [successInfo]="successInfo"
      (done)="onActionDone()"
      class="c-loader mt-12 sm:mt-24"
    />
  } @else {
    <app-overlay />
    <div
      appSlideIn
      [slideInDelay]="200"
      class="c-container py-20 sm:py-36 lg:py-[17vh]"
    >
      <div class="c-dialog gd-box">
        <h2 class="c-title gd-title">Request Reset</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
          <div class="c-email">
            <label for="email" class="gd-text">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              required
              class="inline-block w-full gd-input"
            />
            @if (email.invalid && (email.dirty || email.touched)) {
              <div class="mt-1 gd-error-text">
                @if (email.errors?.["required"]) {
                  <div>Email is required.</div>
                } @else if (email.errors?.["email"]) {
                  <div>Invalid address format.</div>
                } @else if (email.errors?.["unRegistered"]) {
                  <div>Email hasn't been registered.</div>
                }
              </div>
            }
          </div>
          <button
            type="submit"
            [disabled]="!form.valid"
            class="gd-button bg-focus w-full mt-3"
          >
            Request
          </button>
        </form>
      </div>
    </div>
  }
</div>
