.c-container {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: theme("spacing.3");
}

.c-bar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "icon title action";
}

.c-icon {
  grid-area: icon;
}

.c-title {
  grid-area: title;
  align-self: center;
  justify-self: center;
}

.c-action {
  grid-area: action;
  display: grid;
  justify-content: right;
}

.c-slide-out {
  animation: ga-slide-out-to-top 500ms ease-in-out both;
}

.c-slide-in {
  animation: ga-slide-in-from-bottom 500ms ease-in-out both;
}

.c-content {
  word-break: break-word; /* the break-words of tailwindcss is useless */
}

@keyframes unfold {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.c-unfold {
  animation: unfold 300ms ease-in-out both;
}

@media screen and (min-width: theme("screens.pc")) {
  .c-title {
    justify-self: start;
  }
}
