<div
  class="c-container w-[18rem] p-3 border pc:border-hover shadow-sm rounded-3xl bg-footerBg"
  [class.rounded-lg]="isPc || !isContentFolded"
  [class.c-slide-out]="shouldSlideOut"
  [class.c-slide-in]="!shouldSlideOut"
>
  <div class="c-bar">
    <div class="c-icon">
      @if (isSuccessNotification(notification)) {
        <app-check-svg [class]="'gc-svg fill-ok'" />
      } @else if (isErrorNotification(notification)) {
        <app-error-svg [class]="'gc-svg fill-error'" />
      } @else {
        <app-info-svg [class]="'gc-svg'" />
      }
    </div>
    <p
      class="c-title gc-text text-center overflow-hidden"
      [class.text-error]="isErrorNotification(notification)"
      [class.text-ok]="isSuccessNotification(notification)"
    >
      {{ notification.title }}
    </p>
    <div class="c-action">
      @if (isContentFolded) {
        @if (isPc) {
          <button (click)="showContent()">
            <app-up-svg [class]="'gc-button-svg'" />
          </button>
        } @else {
          <button (click)="showContent()">
            <app-down-svg [class]="'gc-button-svg'" />
          </button>
        }
      } @else {
        <button appFadeIn [fadeInDuration]="300" (click)="close()">
          <app-close-svg [class]="'gc-button-svg w-5'" />
        </button>
      }
    </div>
  </div>

  <div
    appFadeIn
    [fadeInDuration]="300"
    [class]="[
      'c-content',
      'pt-3',
      'pb-5',
      'gc-text',
      notification.content.length > 20 ? 'text-left' : 'text-center'
    ]"
    [class.hidden]="isContentFolded"
    [class.text-error]="isErrorNotification(notification)"
    [class.text-ok]="isSuccessNotification(notification)"
  >
    {{ notification.content }}
  </div>
</div>
