.c-container {
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "user"
    "blogs";
}

.c-user {
  grid-area: user;
  place-self: center;
  display: grid;
  justify-items: center;
}

.c-badge {
  place-self: end;
}

.c-blogs {
  grid-area: blogs;
}
