.c-container {
  display: grid;
  grid-template-rows: auto, auto;
  grid-template-columns: 3fr 3fr;
  grid-template-areas:
    "user setting"
    "blogs blogs";
}

.c-user {
  grid-area: user;
  justify-self: start;
  display: grid;
  justify-items: center;
}

.c-setting {
  grid-area: setting;
  justify-self: end;
  align-self: center;
}

.c-blogs {
  grid-area: blogs;
}
