@if (user && profile) {
  <div appFadeIn class="c-container mt-16 tablet:mt-48 pc:mt-[20vh]">
    <div class="c-user">
      <app-user-avatar
        [isButtonStyle]="false"
        [size]="'3rem'"
        [avatarId]="user.avatar?.id"
      />
      <p class="gc-text text-sm mt-1">{{ profile.alais }}</p>
    </div>
    @if (isMyself) {
      <div class="c-setting">
        <app-icon-button
          [size]="'1.6rem'"
          [tip]="'Setting'"
          [isButtonStyle]="true"
          [tipPosition]="'top'"
        >
          <app-setting-svg
            (click)="routeToSetting()"
            [size]="'1.6rem'"
            [class]="'gc-svg gu-hover'"
          />
        </app-icon-button>
      </div>
    }
    <app-blog-list
      class="c-blogs py-14"
      [blogs]="userBlogs"
      [showAvatar]="false"
    />
  </div>
}
