<section appSlider [slideDelay]="200" class="c-container">
  <div class="c-dialog d-box">
    <h2 class="c-title d-title">Reset Password</h2>
    <form [formGroup]="form" class="c-form">
      <div class="c-email">
        <label for="email" class="d-subText">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
          class="disabled:cursor-not-allowed disabled:opacity-75 w-full d-input"
        />
      </div>
      <div class="c-password">
        <label for="password" class="d-subText">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          class="w-full d-input"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="d-form-error"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
        </div>
        <div *ngIf="error" class="d-form-error">
          <div>
            {{ error }}
          </div>
        </div>
      </div>
      <button
        [disabled]="!form.valid"
        (click)="submit()"
        class="c-button d-button w-full mt-3"
      >
        Reset
      </button>
    </form>
  </div>
</section>
