.start {
  animation: loading var(--cycleTime) linear infinite;
  animation-delay: 600ms;
}

.stop {
  animation-play-state: paused;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
