@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.start {
  animation: rotate var(--cycleTime) linear var(--rotateDelay) infinite;
}

.stop {
  animation-play-state: paused;
}
