<div class="c-container">
  @for (blog of blogs; track blog.id; let isLastItem = $last) {
    <button
      class="c-blog py-4 tablet:py-8 pc:px-3 border-b gc-border gu-hover pc:hover:bg-gradient-to-r pc:hover:from-primaryBg pc:hover:via-hoverBg pc:hover:to-primaryBg"
      [class.border-b]="!isLastItem"
      (click)="viewBlog(blog.id)"
    >
      @if (!isPhone) {
        <app-user-avatar
          [class]="['c-author']"
          [avatarId]="blog.user_created?.avatar?.id"
          [size]="'2.5rem'"
          (click)="routeToUserDetail($event, blog.user_created!.id)"
        />
      }

      <p class="c-title gc-text text-sm pc:text-base text-left">
        {{ blog.title | overView }}
      </p>

      @if (showActions && !isPhone) {
        <app-icon-button
          (click)="editBlog($event, blog.id)"
          [isButtonStyle]="false"
          [size]="'1.2rem'"
          [tip]="''"
        >
          <app-edit-svg
            [size]="'1.6rem'"
            [class]="'c-edit-button gc-svg gu-hover'"
          />
        </app-icon-button>
        <app-icon-button
          (click)="deleteBlog($event, blog.id)"
          [isButtonStyle]="false"
          [size]="'1.2rem'"
          [tip]="''"
        >
          <app-delete-svg
            [size]="'1.6rem'"
            [class]="'c-delete-button gc-svg gu-hover'"
          />
        </app-icon-button>
      }
      <app-badge [number]="999" class="c-comments">
        <app-chat-svg class="gc-svg inline-block size-5" />
      </app-badge>
      <p
        class="c-active-time gc-text text-xs pc:text-sm hidden italic tablet:block"
      >
        {{
          blog.date_updated || blog.date_created
            | date: "M/d hh:mm a"
            | actvieDate
        }}
      </p>
    </button>
  }
</div>
