.c-container {
  display: grid;
  grid-area: content;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
}

.c-blog {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
}
