<div class="c-container">
  @for (blog of blogs; track blog.id; let isLastItem = $last) {
    <a
      [routerLink]="['./viewer', blog.id]"
      class="c-blog pt-4 pc:pt-10 pb-4 pc:pb-10 border-b gc-border gu-hover hover:bg-gradient-to-r hover:from-appBg hover:via-hoverBg hover:to-appBg"
      [class.border-b]="!isLastItem"
    >
      <p class="c-title">{{ blog.title }}</p>
      <app-user-avatar
        class="c-avatar"
        [avatarId]="blog.user_created?.avatar?.id"
        [size]="'2rem'"
        (click)="onAvatarClick($event, blog.user_created!.id)"
      />
    </a>
  }
</div>
