<div class="c-container">
  @for (blog of blogs; track blog.id; let isLastItem = $last) {
    <a
      [routerLink]="['./viewer', blog.id]"
      class="c-blog pt-4 pc:pt-10 pb-4 pc:pb-10 border-b gc-border gu-hover pc:hover:bg-gradient-to-r pc:hover:from-primaryBg pc:hover:via-hoverBg pc:hover:to-primaryBg"
      [class.border-b]="!isLastItem"
    >
      <p class="c-title">{{ blog.title }}</p>
      <app-badge [number]="999">
        <app-chat-svg class="gc-svg inline-block" />
      </app-badge>
      <app-delete-svg class="gc-svg" />
      <app-edit-svg class="gc-svg" />
      <app-user-avatar
        class="c-avatar"
        [avatarId]="blog.user_created?.avatar?.id"
        [size]="'2rem'"
        (click)="onAvatarClick($event, blog.user_created!.id)"
      />
    </a>
  }
</div>
