<div>
  <app-overlay *ngIf="!isLoaderActived" [zIndex]="-1"></app-overlay>
  <div
    *ngIf="!isLoaderActived"
    appSlider
    [slideDelay]="200"
    class="c-container py-20 sm:py-36 lg:py-[17vh]"
  >
    <div class="c-dialog d-box">
      <h2 class="c-title d-title">Initialize</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
        <div class="c-email">
          <label for="email" class="d-text">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            class="disabled:cursor-not-allowed disabled:opacity-75 w-full d-input"
          />
        </div>
        <div class="c-password">
          <label for="password" class="d-text">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
            class="w-full d-input"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="mt-1 d-error-text"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters long.
            </div>
          </div>
        </div>
        <button
          type="submit"
          [disabled]="!form.valid"
          class="d-button bg-focus w-full mt-3"
        >
          Ok
        </button>
      </form>
    </div>
  </div>
  <app-loader
    *ngIf="isLoaderActived"
    title="Init..."
    [status]="loaderStatus"
    [prompt]="loaderPrompt"
    [stayWhenFailed]="true"
    (failed)="goback()"
    (successful)="login()"
    class="c-loader mt-12 sm:mt-24"
  ></app-loader>
</div>
