.c-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: theme("spacing.smPadding") auto auto theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-padding logo toggle right-padding"
    "menu menu menu menu";
}

.c-container-hidden {
  transform: translateY(-100%);
}

.c-logo {
  grid-area: logo;
  justify-self: start;
}

.c-toggle {
  grid-area: toggle;
  justify-self: end;
}

.c-menu {
  grid-area: menu;
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: theme("spacing.smPadding") auto auto auto theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-padding index index index right-padding"
    "left-padding divider divider divider right-padding"
    "left-padding theme email account right-padding";
  transform: translateX(-100%);
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* can't use revers here */
.c-menu-opened {
  animation: slide-in 300ms ease-in-out both;
}

.c-menu-closed {
  animation: slide-out 300ms ease-in-out both;
}

.c-index {
  grid-area: index;
  padding-top: theme("spacing.2");
}

.c-divider {
  grid-area: divider;
}

.c-theme {
  grid-area: theme;
  justify-self: end;
  align-self: center;
}

.c-email {
  grid-area: email;
  justify-self: center;
  align-self: center;
}

.c-account {
  grid-area: account;
  justify-self: start;
  align-self: center;
}

@media screen and (min-width: theme("screens.sm")) {
  .c-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: theme("spacing.mdPadding") auto auto theme(
        "spacing.mdPadding"
      );
    /* row-gap:theme(spacing.14) */
  }
}

@media screen and (min-width: theme("screens.lg")) {
  .c-container {
    grid-template-rows: auto;
    grid-template-columns: theme("spacing.lgPadding") auto 1fr auto auto auto theme(
        "spacing.lgPadding"
      );
    grid-template-areas: "left-padding logo index theme email account right-padding";
    place-content: center;
    align-items: baseline;
  }

  .c-menu {
    display: contents;
  }

  .c-index {
    padding-top: theme("spacing.0");
    padding-left: theme("spacing.16");
  }

  .c-index-item {
    display: inline;
  }

  .c-theme {
    justify-self: start;
    align-self: center;
  }

  .c-email {
    justify-self: center;
    align-self: center;
  }

  .c-account {
    justify-self: start;
    align-self: center;
  }
}
