<nav
  [class]="show ? '' : 'c-container-hidden'"
  class="c-container sticky z-20 top-0 bg-bgc dark:bg-bgc-dark backdrop-blur-sm shadow dark:shadow-none g-transition-transform"
>
  <a
    (click)="toggleMenu()"
    routerLink="home"
    class="c-logo py-3 text-2xl lg:text-3xl font-bold g-text-primary focus:text-blue-500 g-hover"
    >Pali</a
  >

  <button
    (click)="toggleMenu()"
    type="button"
    aria-label="toggle menu"
    class="c-toggle lg:hidden py-3 focus:outline-none"
  >
    <svg-icon
      src="assets/icons/plus.svg"
      class="open-icon"
      [svgClass]="[
        'g-svg',
        'g-transition-transform',
        openMenu ? 'rotate-45' : ''
      ]"
    ></svg-icon>
  </button>

  <section
    [class]="openMenu ? '' : 'c-menu-close'"
    class="c-menu w-full pb-3 bg-bgc dark:bg-bgc-dark transition-all duration-500 ease-in-out"
  >
    <ul (click)="toggleMenu()" class="c-index">
      <li class="c-index-item mt-2 lg:mt-0 lg:mx-4">
        <a routerLink="/reading" class="g-text-secondary g-hover g-focus"
          >Reading</a
        >
      </li>
      <li class="c-index-item mt-2 lg:mt-0 lg:mx-4">
        <a routerLink="/dictionary" class="g-text-secondary g-hover g-focus"
          >Dictionary</a
        >
      </li>
      <li class="c-index-item mt-2 lg:mt-0 lg:mx-4">
        <a routerLink="grammar" class="g-text-secondary g-hover g-focus"
          >Grammar</a
        >
      </li>
      <li class="c-index-item mt-2 lg:mt-0 lg:mx-4">
        <a routerLink="tipitaka" class="g-text-secondary g-hover g-focus"
          >Tipitaka</a
        >
      </li>
      <li class="c-index-item mt-2 lg:mt-0 lg:mx-4">
        <a routerLink="blog" class="g-text-secondary g-hover g-focus">Blog</a>
      </li>
    </ul>

    <div
      class="c-divider lg:hidden mb-5 h-6 border-b border-bdc dark:border-bdc-dark"
    ></div>

    <button
      (click)="toggleDark()"
      type="button"
      aria-label="theme"
      class="c-theme g-hover"
    >
      <svg-icon
        *ngIf="isDark"
        src="assets/icons/moon.svg"
        [svgClass]="['g-svg', 'g-hover']"
      ></svg-icon>
      <svg-icon
        *ngIf="!isDark"
        src="assets/icons/sun.svg"
        [svgClass]="['g-svg', 'g-hover']"
      ></svg-icon>
    </button>

    <a routerLink="/dictionary" aria-label="donation" class="c-donation ml-9">
      <svg-icon
        src="assets/icons/heart.svg"
        [svgClass]="['g-svg', 'g-hover']"
      ></svg-icon>
    </a>
  </section>
</nav>
