.c-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: theme("spacing.smPadding") auto auto theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-area logo toggle right-area"
    "menu menu menu menu";
}

.c-container-hidden {
  transform: translateY(-100%);
}

.c-logo {
  grid-area: logo;
  justify-self: start;
}

.c-toggle {
  grid-area: toggle;
  justify-self: end;
}

.c-menu {
  grid-area: menu;
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: theme("spacing.smPadding") auto auto auto theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-area index index index right-area"
    "left-area divider divider divider right-area"
    "left-area theme donation account right-area";
}

.c-menu-close {
  opacity: 0;
  transform: translateX(-100%);
}

.c-index {
  grid-area: index;
  padding-top: theme("spacing.2");
}

.c-divider {
  grid-area: divider;
}

.c-theme {
  grid-area: theme;
  justify-self: end;
  align-self: center;
}

.c-donation {
  grid-area: donation;
  justify-self: center;
  align-self: center;
}

.c-account {
  grid-area: account;
  justify-self: start;
  align-self: center;
}

@media screen and (min-width: theme("screens.lg")) {
  .c-container {
    grid-template-rows: auto;
    grid-template-columns: theme("spacing.lgPadding") auto 1fr auto auto auto theme(
        "spacing.lgPadding"
      );
    grid-template-areas: "left-area logo index theme donation account right-area";
    place-content: center;
    align-items: baseline;
  }

  .c-menu {
    display: contents;
  }

  .c-index {
    padding-top: theme("spacing.0");
    padding-left: theme("spacing.16");
  }
  .c-index-item {
    display: inline;
  }

  .c-theme {
    justify-self: start;
    align-self: center;
  }

  .c-donation {
    justify-self: center;
    align-self: center;
  }

  .c-account {
    justify-self: start;
    align-self: center;
  }
}
