<nav
  [class]="show ? '' : 'nav-hidden'"
  class="nav sticky z-20 top-0 bg-bgc dark:bg-bgc-dark backdrop-blur-sm text shadow dark:shadow-none transform"
>
  <a
    href="#"
    class="logo py-3 text-2xl lg:text-3xl font-bold text-gray-800 dark:text-white hover"
    >Pali</a
  >

  <button
    (click)="toggleMenu()"
    type="button"
    aria-label="toggle menu"
    class="toggle lg:hidden py-3 focus:outline-none"
  >
    <svg-icon
      src="assets/icons/plus.svg"
      class="open-icon"
      [svgClass]="['svg', 'transform', openMenu ? 'rotate-45' : '']"
    ></svg-icon>
  </button>

  <section
    [class]="openMenu ? '' : 'menu-close'"
    class="menu w-full pb-3 bg-bgc dark:bg-bgc-dark transition-all duration-500 ease-in-out"
  >
    <ul (click)="toggleMenu()" class="index">
      <li class="index-item mt-2 lg:mt-0 lg:mx-4 hover focus">
        <a href="#">Reading</a>
      </li>
      <li class="index-item mt-2 lg:mt-0 lg:mx-4 hover focus">
        <a href="#">Dictionary</a>
      </li>
      <li class="index-item mt-2 lg:mt-0 lg:mx-4 hover focus">
        <a href="#">Grammar</a>
      </li>
      <li class="index-item mt-2 lg:mt-0 lg:mx-4 hover focus">
        <a href="#">Tipitaka</a>
      </li>
      <li class="index-item mt-2 lg:mt-0 lg:mx-4 hover focus">
        <a href="#">Blog</a>
      </li>
    </ul>

    <div
      class="divider lg:hidden mb-5 h-6 border-b border-bdc dark:border-bdc-dark"
    ></div>

    <button
      (click)="toggleDark()"
      type="button"
      aria-label="theme"
      class="theme focus:outline-none hover"
    >
      <svg-icon
        *ngIf="isDark"
        src="assets/icons/moon.svg"
        [svgClass]="['svg']"
      ></svg-icon>
      <svg-icon
        *ngIf="!isDark"
        src="assets/icons/sun.svg"
        [svgClass]="['svg']"
      ></svg-icon>
    </button>

    <a
      href="#"
      aria-label="donation"
      class="donation ml-9 focus:outline-none hover"
    >
      <svg-icon src="assets/icons/heart.svg" [svgClass]="['svg']"></svg-icon>
    </a>
  </section>
</nav>
