<div>
  @if (showOverlay) {
    <!-- eslint-disable-next-line -->
    <div
      class="c-overlay fixed inset-0 bg-overlay h-screen w-screen opacity-80 touch-none"
      (click)="toggleMenu()"
    ></div>
  }
  <nav
    class="relative c-container pc:px-pcXspan transition-transform duration-[400ms] ease-in-out bg-primaryBg"
    [class.c-container-hidden]="isCollapsed"
  >
    <div
      appFadeIn
      class="c-banner px-phoneXspan tablet:px-tabletXspan pc:px-0 pt-1 pc:pt-6 shadow-sm pc:shadow-none"
    >
      <button
        (click)="routeTo('/home')"
        class="c-logo -ml-3 p-3 pc:py-3 text-2xl pc:text-3xl uppercase tracking-widest font-bold text-logo"
      >
        <p
          class="gu-hover"
          [class.text-focus]="activedUrl === '/home' || activedUrl === '/'"
        >
          Pali
        </p>
      </button>

      <button
        (click)="toggleMenu()"
        type="button"
        aria-label="toggle menu"
        class="c-menu-button pc:hidden py-3 focus:outline-none"
      >
        <app-plus-svg
          [class]="[
            'gc-svg',
            'transition-transform',
            'duration-[400ms]',
            'ease-in-out',
            isMenuOpened ? 'rotate-45' : ''
          ]"
        />
      </button>
    </div>

    <div
      [class]="[
        'c-menu',
        'w-full',
        'pc:w-full',
        'px-phoneXspan',
        'tablet:px-tabletXspan',
        'pc:px-0',
        'pb-3',
        'bg-primaryBg',
        'pc:bg-transparent',
        animationClass
      ]"
    >
      <ul class="c-routes ml-2 tablet:ml-3 ld:ml-0">
        @for (item of routes; track item.name) {
          <li class="c-route-item mt-2 pc:mt-0 pc:mx-[0.7vw]">
            <button
              (click)="routeTo(item.path)"
              class="gc-text gu-hover pc:px-1 pc:py-1"
              [class.text-focus]="activedUrl === item.path"
            >
              {{ item.name | titlecase }}
            </button>
          </li>
        }
      </ul>

      <div class="c-divider pc:hidden mb-5 h-6 border-b gc-border"></div>

      <button (click)="switchTheme()" class="c-theme p-1">
        @switch (theme) {
          @case (ThemeEnum.DEFAULT) {
            <app-sun-svg [class]="'gc-svg gu-hover'" />
          }
          @case (ThemeEnum.READING) {
            <app-reading-svg [class]="'gc-svg gu-hover'" />
          }
          @case (ThemeEnum.NIGHT) {
            <app-moon-svg [class]="'gc-svg gu-hover'" />
          }
        }
      </button>

      <button disabled (click)="routeTo('/email')" class="c-email p-1 pc:mx-6">
        <app-email-svg
          [class]="[
            'gc-svg',
            'size-5',
            activedUrl === 'email' ? 'text-focus' : ''
          ]"
        />
      </button>

      <app-user-avatar
        class="c-user px-1"
        [avatarId]="account?.avatar?.id"
        [size]="'1.8rem'"
        (click)="routeTo('/users/detail')"
      />
    </div>
  </nav>
</div>
