.nav {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: theme("spacing.smPadding") auto auto theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-area logo toggle right-area"
    "menu menu menu menu";
}

.nav-hidden {
  transform: translateY(-100%);
}

.logo {
  grid-area: logo;
  justify-self: start;
}

.toggle {
  grid-area: toggle;
  justify-self: end;
}

.menu {
  grid-area: menu;
  position: absolute;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: theme("spacing.smPadding") auto auto theme(
      "spacing.smPadding"
    );
  grid-template-areas:
    "left-area index index right-area"
    "left-area divider divider right-area"
    "left-area theme donation right-area";
}

.menu-close {
  opacity: 0;
  transform: translateX(-100%);
}

.index {
  grid-area: index;
  padding-top: theme("spacing.2");
}

.divider {
  grid-area: divider;
}

.theme {
  grid-area: theme;
  justify-self: end;
}

.donation {
  grid-area: donation;
  justify-self: start;
}

@media screen and (min-width: theme("screens.lg")) {
  .nav {
    grid-template-rows: auto;
    grid-template-columns: theme("spacing.lgPadding") auto 1fr auto auto theme(
        "spacing.lgPadding"
      );
    grid-template-areas: "left-area logo index theme donation right-area";
    place-content: center;
    align-items: baseline;
  }

  .menu {
    display: contents;
  }

  .index {
    padding-top: theme("spacing.0");
    padding-left: theme("spacing.16");
  }
  .index-item {
    display: inline;
  }

  .theme {
    justify-self: start;
    align-self: center;
  }

  .donation {
    justify-self: end;
    align-self: center;
  }
}
