.c-dialog {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "status"
    "content"
    "button";
  row-gap: theme(spacing.7);
}

.c-status {
  grid-area: status;
  align-self: center;
}

.c-wheel {
  grid-area: content;
  justify-self: center;
}

.c-prompt {
  grid-area: content;
}

.c-button {
  grid-area: button;
}

@media screen and (min-width: theme("screens.lg")) {
  .c-dialog {
    row-gap: theme(spacing.10);
  }
}
