.c-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: theme("spacing.smContentPadding") 1fr theme(
      "spacing.smContentPadding"
    );
  grid-template-areas:
    "left-padding preface right-padding"
    "left-padding dpd right-padding"
    "left-padding ncped right-padding"
    "left-padding pts right-padding"
    "left-padding dppn right-padding"
    "left-padding abbr right-padding";
}

.c-preface {
  grid-area: preface;
}

.c-dpd {
  grid-area: dpd;
}

.c-ncped {
  grid-area: ncped;
}

.c-pts {
  grid-area: pts;
}

.c-dppn {
  grid-area: dppn;
}

.c-abbr {
  grid-area: abbr;
}

.c-dict {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
}

.c-action {
  column-gap: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  justify-content: end;
}

.c-action .c-downloader {
  justify-self: right;
  align-self: center;
}

@media screen and (min-width: theme("screens.lg")) {
  .c-dict {
    grid-template-columns: 1fr 1fr;
  }

  .c-book {
    align-self: start;
    justify-self: center;
  }

  .c-container {
    grid-template-columns: theme("spacing.lgContentPadding") 1fr theme(
        "spacing.lgContentPadding"
      );
  }
}
