.c-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: theme("spacing.smContentPadding") 1fr theme(
      "spacing.smContentPadding"
    );
  grid-template-areas:
    "left-area introduction right-area"
    "left-area dpd right-area"
    "left-area ncped right-area"
    "left-area pts right-area"
    "left-area dppn right-area"
    "left-area abbr right-area";
}

.c-introduction {
  grid-area: introduction;
}

.c-dpd {
  grid-area: dpd;
}

.c-ncped {
  display: grid;
  grid-area: ncped;
}

.c-pts {
  grid-area: pts;
}

.c-dppn {
  grid-area: dppn;
}

.c-abbr {
  grid-area: abbr;
}

.c-dict {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  @apply pt-8 lg:pt-24 pb-6 lg:pb-16 border-b;
}

.c-title {
  @apply text-lg lg:text-xl font-semibold capitalize;
}

.c-action {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.c-action .c-downloader {
  justify-self: right;
  align-self: center;
}

@media screen and (min-width: theme("screens.lg")) {
  .c-dict {
    grid-template-columns: 1fr 1fr;
  }

  .c-container {
    grid-template-columns: theme("spacing.lgContentPadding") 1fr theme(
        "spacing.lgContentPadding"
      );
  }

  .c-book {
    place-self: center;
  }
}
