.c-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: theme("spacing.smContentPadding") 1fr theme(
      "spacing.smContentPadding"
    );
  grid-template-areas:
    "left-area preface right-area"
    "left-area dpd right-area"
    "left-area ncped right-area"
    "left-area pts right-area"
    "left-area dppn right-area"
    "left-area abbr right-area";
}

.c-preface {
  grid-area: preface;
}

.c-dpd {
  grid-area: dpd;
}

.c-ncped {
  grid-area: ncped;
}

.c-pts {
  grid-area: pts;
}

.c-dppn {
  grid-area: dppn;
}

.c-abbr {
  grid-area: abbr;
}

.c-dict {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  @apply pt-12 pb-8 border-b;
}

.c-title {
  @apply text-lg font-semibold capitalize;
}

.c-introduction {
  @apply leading-relaxed pt-4;
}

.c-action {
  column-gap: 1rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-flow: column;
  justify-content: end;
  @apply pt-6;
}

.c-action .c-downloader {
  justify-self: right;
  align-self: center;
}

@media screen and (min-width: theme("screens.lg")) {
  .c-dict {
    grid-template-columns: 1fr 1fr;
    @apply pt-36 pb-24;
  }

  .c-book {
    align-self: start;
    justify-self: center;
  }

  .c-title {
    @apply text-xl;
  }

  .c-introduction {
    @apply pt-8;
  }

  .c-action {
    @apply pt-16;
  }

  .c-container {
    grid-template-columns: theme("spacing.lgContentPadding") 1fr theme(
        "spacing.lgContentPadding"
      );
  }
}
