<section class="c-container">
  <div class="c-content">
    <div appSlider class="mt-10 lg:mt-24">
      <h2 class="capitalize lg:text-xl">
        <p class="inline-block capitalize mr-2 g-title-focus">pali</p>
        <p class="inline-block capitalize g-title-focus">dictionary</p>
      </h2>
      <p class="leading-relaxed mt-4 lg:mt-8 g-text">
        The following dictionaries can meet the needs of learning Pali.
        Inparticular, the comprehensive dictionary
        <strong>Digital Pali Dictionary</strong>, which has a large thesaurus
        and detailed explanations, is a must-have. Other dictionaries are
        provided as supplements for people with specific needs.
      </p>
      <div class="mt-4 lg:mt-8">
        <span
          class="inline-block w-40 lg:w-72 h-0.5 bg-focus rounded-full"
        ></span>
        <span class="inline-block w-3 h-0.5 ml-1 bg-focus rounded-full"></span>
        <span
          class="inline-block w-1 h-0.5 ml-1 bg-focus rounded-500 rounded-full"
        ></span>
      </div>
    </div>
    <div
      *ngFor="let dictionary of dictionaries"
      appSlider
      [slideDelay]="dictionary.index === 1 ? 800 : 1000"
      class="c-dictionary mt-12 lg:mt-36 pb-8 lg:pb-24 border-b g-border"
    >
      <div *ngIf="dictionary.index % 2" class="c-book hidden lg:block">
        <app-book [config]="bookConfigFor(dictionary)"></app-book>
      </div>
      <div>
        <p class="capitalize lg:text-xl g-title-focus">{{ dictionary.name }}</p>
        <p class="leading-relaxed mt-4 lg:mt-8 g-text">
          {{ dictionary.description }}
        </p>
        <div class="c-action mt-6 lg:mt-16">
          <button
            onclick="window.open(dictionary.info_url)"
            class="c-downloader g-button"
          >
            <svg-icon
              src="assets/icons/Github.svg"
              [svgClass]="['g-svg']"
            ></svg-icon>
          </button>
          <button
            onclick="window.open(dictionary.zip)"
            class="c-downloader g-button"
          >
            <svg-icon
              src="assets/icons/download.svg"
              [svgClass]="['g-svg']"
            ></svg-icon>
          </button>
        </div>
      </div>
      <div *ngIf="!(dictionary.index % 2)" class="c-book hidden lg:block">
        <app-book [config]="bookConfigFor(dictionary)"></app-book>
      </div>
    </div>
  </div>
</section>
