@if (isLoading) {
  <app-loader />
} @else {
  <app-form-dialog (keydown.enter)="onSubmit()">
    <div class="c-content">
      <p class="c-title gd-title">Request Reset</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
        <div class="c-email">
          <label for="email" class="gd-text">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            class="inline-block w-full gd-input"
          />
          @if (email.invalid && (email.dirty || email.touched)) {
            <div class="mt-1 gd-error-text">
              @if (email.errors?.["required"]) {
                <div>Email is required.</div>
              } @else if (email.errors?.["email"]) {
                <div>Invalid address format.</div>
              } @else if (email.errors?.["unRegistered"]) {
                <div>Email hasn't been registered.</div>
              }
            </div>
          }
        </div>
        <button
          type="submit"
          [disabled]="!form.valid"
          class="gc-hl-button w-full mt-3"
        >
          Request
        </button>
      </form>
    </div>
  </app-form-dialog>
}
