.c-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  place-items: center;
  grid-template-areas:
    "title"
    "description"
    "action";
}

.c-title {
  grid-area: title;
}

.c-description {
  grid-area: description;
}

.c-action {
  grid-area: action;
}
