<section class="c-container my-[23vh] lg:my-[25vh]">
  <p class="c-title text-6xl lg:text-8xl tracking-wider g-text-secondary">
    404
  </p>
  <p
    class="c-description text-1xl md:text-2xl lg:text-3xl tracking-wider g-text-secondary pb-2 border-b mt-6 g-border"
  >
    Page Not Found
  </p>
  <button appBackButton class="c-action g-button px-2 mt-[6vh] lg:mt-[7vh]">
    <svg-icon
      src="assets/icons/short_left.svg"
      [svgClass]="['inline-block', 'align-middle', 'g-svg', 'mr-2']"
    ></svg-icon>
    <p class="inline-block align-middle pr-1 g-text-secondary">Go Back</p>
  </button>
</section>
