@if (isLoading) {
  <app-loading />
} @else if (error) {
  <app-info-dialog
    title="Error"
    [isErrorInfo]="true"
    [content]="error"
    (infoDialogClosed)="onErrorDialogSubmit()"
  />
} @else if (successInfo) {
  <app-info-dialog
    title="Success"
    [isSuccessInfo]="true"
    [content]="successInfo"
    (infoDialogClosed)="onSuccessDialogSubmit()"
  />
} @else {
  <app-form-dialog>
    <div class="c-content">
      <h2 class="c-title gd-title">Reset Password</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
        <div class="c-email">
          <label for="email" class="gd-text">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            class="disabled:cursor-not-allowed disabled:opacity-75 w-full gd-input"
          />
        </div>
        <div class="c-password">
          <label for="password" class="gd-text">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            formControlName="password"
            class="w-full gd-input"
          />
          @if (password.invalid && (password.dirty || password.touched)) {
            <div class="mt-1 gd-error-text">
              @if (password.errors?.["minlength"]) {
                <div>Password must be at least 6 characters long.</div>
              } @else if (password.errors?.["required"]) {
                <div>Password is required.</div>
              }
            </div>
          }
        </div>
        <button
          type="submit"
          [disabled]="!form.valid"
          class="gd-button bg-focus w-full mt-3"
        >
          Reset
        </button>
      </form>
    </div>
  </app-form-dialog>
}
