<section class="c-container g-fade-in">
  <div class="c-banner h-[45rem] lg:h-[50rem] bg-cover bg-center lg:mt-12">
    <p
      appSlider
      [slideDelay]="200"
      class="text-center pt-60 text-base lg:text-2xl tracking-wide text-gray-200"
    >
      Hear the Buddha’s voice from
    </p>
    <p
      appSlider
      [slideDelay]="1000"
      class="text-center pt-8 lg:pt-10 text-3xl lg:text-6xl capitalize font-light tracking-wide text-gray-50"
    >
      the ancient sutras
    </p>
  </div>
  <div class="c-books py-16 lg:py-32">
    <div class="c-title pb-4 lg:pb-10 border-b g-border">
      <p
        class="text-center text-xl lg:text-3xl uppercase tracking-widest lg:tracking-[.25em] g-title-hl"
      >
        Tipiṭaka Epub
      </p>
    </div>
    <div class="c-book c-suttas">
      <app-book [config]="suttaConfig"></app-book>
      <div class="c-action w-full pt-10 pb-4 border-b g-border">
        <button class="g-button">
          <svg-icon
            src="assets/icons/info.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </button>
        <button class="g-button">
          <svg-icon
            src="assets/icons/download.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </button>
      </div>
    </div>
    <div class="c-book c-vinaya">
      <app-book [config]="vinayaConfig"></app-book>
      <div class="c-action w-full pt-10 pb-4 border-b g-border">
        <button class="g-button">
          <svg-icon
            src="assets/icons/info.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </button>
        <button class="g-button">
          <svg-icon
            src="assets/icons/download.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </button>
      </div>
    </div>
    <div class="c-book c-abhidhamma">
      <app-book [config]="abhidhammaConfig"></app-book>
      <div class="c-action w-full pt-10 pb-4 border-b g-border">
        <button class="g-button">
          <svg-icon
            src="assets/icons/info.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </button>
        <button class="g-button">
          <svg-icon
            src="assets/icons/download.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="c-cites py-16 lg:py-32 bg-bg night">
    <div class="c-title pb-4 lg:pb-10 border-b g-border">
      <p
        class="text-center text-xl lg:text-3xl uppercase tracking-widest lg:tracking-[.25em] g-title-hl"
      >
        bante said
      </p>
    </div>
    <div class="c-cite c-first-cite lg:mr-12">
      <svg-icon
        src="assets/icons/quotes.svg"
        [svgClass]="['g-svg']"
        [svgStyle]="{ 'width.rem': 3, 'height.rem': 3 }"
      ></svg-icon>
      <p class="pt-2 lg:pt-4 text-center g-text">
        These books of the Pali Canon correctly represent the Buddhaʼs Teaching,
        and can be regarded as trustworthy throughout. (Vinayapiṭaka:)
        Suttavibhaṅga, Mahāvagga, Cūḷavagga; (Suttapiṭaka:) Dīghanikāya,
        Majjhimanikāya, Saṃyuttanikāya, Aṅguttaranikāya, Suttanipāta,
        Dhammapada, Udāna, Itivuttaka, Theratherīgāthā. No other Pali books
        whatsoever should be taken as authoritative; and ignorance of them (and
        particularly of the traditional Commentaries) may be counted a positive
        advantage, as leaving less to be unlearned.
      </p>
      <div class="bante">
        <div class="w-28 my-6 lg:my-8 border-b g-border"></div>
        <a target="_blank" href="https://www.nanavira.org/" class="g-title-hl"
          >BHANTE ÑĀṆAVĪRA</a
        >
      </div>
    </div>
    <div class="c-cite c-second-cite lg:ml-12">
      <svg-icon
        src="assets/icons/quotes.svg"
        [svgClass]="['g-svg']"
        [svgStyle]="{ 'width.px': 50, 'height.px': 50 }"
      ></svg-icon>
      <p class="pt-2 lg:pt-4 text-center g-text">
        It was necessary for a monk to spend time to learn the language of Pāli.
        The Suttas are written in Pāli and, in order to avoid being misled by
        imperfect translations, it is better to read them in their original
        language. One could feel much closer to the Buddha if one reads his
        discourses in Pāli – “one could almost hear the Buddha’s voice.” Pāli
        has a deep connection with the ancient world of dhamma.
      </p>
      <div class="bante">
        <div class="w-28 my-6 lg:my-8 border-b g-border"></div>
        <a
          target="_blank"
          href="https://pathpress.org/the-island-within/"
          class="g-title-hl"
          >BHANTE ÑĀṆADĪPA</a
        >
      </div>
    </div>
  </div>
</section>
