<section appFader class="c-container">
  <div class="c-banner h-[45rem] lg:h-[50rem] bg-cover bg-center lg:mt-12">
    <p
      appSlider
      [slideDelay]="200"
      class="text-center mt-60 text-base lg:text-2xl tracking-wide text-pageTitle"
    >
      Hear the Buddha’s voice from
    </p>
    <p
      appSlider
      [slideDelay]="1000"
      class="text-center mt-8 lg:mt-10 text-3xl lg:text-6xl capitalize font-light tracking-wide text-pageSubTitle"
    >
      the ancient sutras
    </p>
  </div>
  <div class="c-books py-16 lg:py-32">
    <div class="c-title pb-4 lg:pb-10 border-b g-border">
      <p
        class="text-center text-xl lg:text-3xl uppercase tracking-widest lg:tracking-[.25em] g-hl-title"
      >
        Tipiṭaka Epub
      </p>
    </div>
    <div *ngFor="let book of tipitaka" class="c-book pt-14 lg:pt-28">
      <app-book [config]="bookConfigFor(book)"></app-book>
      <div class="c-action w-full mt-10 pb-4 border-b g-border">
        <a [href]="book.info_url" target="_blank" class="g-button">
          <svg-icon
            src="assets/icons/Github.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </a>
        <a
          [href]="fileServer + '/' + book.zip?.id + '?download'"
          [download]="book.name + '.zip'"
          target="_blank"
          class="g-button"
        >
          <svg-icon
            src="assets/icons/download.svg"
            [svgClass]="['g-svg']"
          ></svg-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="c-cites py-16 lg:py-32 bg-pageBg night">
    <div class="c-content">
      <div class="c-title pb-4 lg:pb-10 border-b g-border">
        <p
          class="text-center text-xl lg:text-3xl uppercase tracking-widest lg:tracking-[.25em] g-hl-title"
        >
          bante said
        </p>
      </div>
      <div *ngFor="let cite of cites" class="c-cite pt-8 lg:pt-12">
        <svg-icon
          src="assets/icons/quotes.svg"
          [svgClass]="['g-svg']"
          [svgStyle]="{ 'width.rem': 3, 'height.rem': 3 }"
        ></svg-icon>
        <p class="mt-2 lg:mt-4 text-center g-paragraph">
          {{ cite.text }}
        </p>
        <div class="w-28 my-6 lg:my-8 border-b g-border"></div>
        <a target="_blank" [href]="cite.author_url" class="text-base lg:text-lg g-focus">{{
          cite.author
        }}</a>
      </div>
    </div>
  </div>
</section>
