.container {
  width: var(--width);
  height: var(--height);
  margin: 0rem;
  perspective: 112rem;
}
.book {
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.book div {
  position: absolute;
}
.front {
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transition: transform 0.5s;
  transform: translate3d(0, 0, 1.25rem);
}
.front:after {
  content: "";
  position: absolute;
  background-color: var(--color);
}
.front > div {
  width: var(--width);
  height: var(--height);
  transform-style: preserve-3d;
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: var(--color);
}
.back {
  width: var(--width);
  height: var(--height);
  transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 1.25rem);
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem 0 0 0.3rem;
  background-color: var(--color);
}
.right {
  width: 2.5rem;
  height: calc(var(--height) - 0.75rem);
  left: -1.25rem;
  top: 0.5rem;
  transform: rotate3d(0, 1, 0, 90deg)
    translate3d(0, 0, calc(var(--width) - 0.63rem));
  /* backface-visibility: hidden; */
  background-color: #fff;
}
.left {
  width: 2.5rem;
  height: var(--height);
  left: -1.25rem;
  transform: rotate3d(0, 1, 0, -90deg);
  background-color: var(--color);
}
.left .spine {
  width: var(--height);
  height: 2.5rem;
  line-height: 2.5rem;
  transform-origin: 0 0;
  transform: rotate(90deg) translateY(-2.5rem);
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  padding-right: 1.25rem;
  font-weight: 400;
  font-size: 0.92rem;
}
.cover {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.cover .header {
  padding: 2.3rem 1.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  padding-right: 1.25rem;
}
.book.right-view {
  transform: rotate3d(0, 1, 0, 30deg);
}
.book.right-view:hover {
  transform: rotate3d(0, 1, 0, 0deg);
}
.book.left-view {
  transform: rotate3d(0, 1, 0, -30deg);
}
.book.left-view:hover {
  transform: rotate3d(0, 1, 0, 0deg);
}
