<div
  [class]="[
    'c-container',
    'p-3',
    'rounded-lg',
    'bg-footerBg',
    shouldSlideOut ? 'c-slide-out' : 'c-slide-in'
  ]"
  [class.z-10]="!isContentFolded"
>
  <div class="c-bar">
    <div class="c-icon">
      @switch (notification.type) {
        @case (notifcationEnum.INFO) {
          <app-info-svg [class]="['g-svg']" />
        }
        @case (notifcationEnum.SUCCESS) {
          <app-check-svg [class]="['fill-ok']" />
        }
        @case (notifcationEnum.ERROR) {
          <app-error-svg [class]="['fill-error']" />
        }
        @default {}
      }
    </div>
    <div class="c-title border-l-1">
      @switch (notification.type) {
        @case (notifcationEnum.INFO) {
          <p class="g-text">{{ title }}</p>
        }
        @case (notifcationEnum.SUCCESS) {
          <p class="g-text text-ok">{{ title }}</p>
        }
        @case (notifcationEnum.ERROR) {
          <p class="g-text text-error">{{ title }}</p>
        }
        @default {}
      }
    </div>
    @if (content) {
      <div class="c-action">
        @if (isContentFolded) {
          <button (click)="showContent()">
            <app-unfold-svg [class]="['g-svg', 'g-hover']" />
          </button>
        } @else {
          <button appFadeIn [fadeInDuration]="300" (click)="close()">
            <app-close-svg [class]="['g-svg', 'g-hover', 'w-5']" />
          </button>
        }
      </div>
    }
  </div>
  <div
    appFadeIn
    [fadeInDuration]="300"
    class="c-content px-3 text-center"
    [class.hidden]="isContentFolded"
  >
    @switch (notification.type) {
      @case (notifcationEnum.INFO) {
        <p class="g-text">{{ content }}</p>
      }
      @case (notifcationEnum.SUCCESS) {
        <p class="g-text text-ok">{{ content }}</p>
      }
      @case (notifcationEnum.ERROR) {
        <p class="g-text text-error">{{ content }}</p>
      }
      @default {}
    }
  </div>
</div>
