.c-container {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: theme("spacing.3")
}

.c-bar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "icon title action";
}

.c-icon {
  grid-area: icon;
}

.c-title {
  grid-area: title;
}

.c-action {
  grid-area: action;
  display:grid;
  justify-content:right;
}

.c-slide-out {
  animation: g-slide-out 500ms ease-in-out both;
}

.c-slide-in {
  animation: g-slide-in 500ms ease-in-out both;
}

@keyframes unfold {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

.c-unfold {
  animation: unfold 300ms ease-in-out both;
}
