<section
  appFader
  [fadeDelay]="300"
  class="c-container mt-24 sm:mt-48 lg:mt-[20vh]"
>
  <div *ngIf="!isLoaderActived" class="c-content">
    <label class="c-label">
      <input type="file" (change)="onAvatarSelected($event)" />
      <img
        class="c-avatar rounded-full w-24 h-24"
        [src]="avatarUrl"
        alt="avatar"
      />
    </label>
    <p class="text-text">{{ me?.email }}</p>
    <button (click)="onLogout()" class="d-button mt-12">Logout</button>
  </div>
  <app-loader
    *ngIf="isLoaderActived"
    [title]="'Uploading...'"
    [status]="loaderStatus"
    [prompt]="loaderPrompt"
    [stayWhenFailed]="true"
    (failed)="rmLoader()"
    class="c-loader mt-12 sm:mt-24"
  ></app-loader>
</section>
