.c-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: theme("spacing.smContentPadding") 1fr theme(
      "spacing.smContentPadding"
    );
  grid-template-areas: "left-padding content right-padding";
}

.c-content {
  grid-area: content;
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  place-content: center;
  grid-row-gap: theme("spacing.5");
}
