<div class="c-container mt-16">
  <input
    type="text"
    placeholder="Title"
    [(ngModel)]="title"
    class="c-title gc-text text-lg py-1 px-3 mr-16 bg-inputBg border-b border-border outline-none d-block"
  />
  <app-icon-button
    (click)="saveDraft()"
    [isLoading]="isSavingDraft"
    [size]="'1.6rem'"
    [tip]="'Save draft'"
  >
    <app-save-svg [size]="'1.6rem'" [class]="'c-save-button gc-svg gu-hover'" />
  </app-icon-button>
  <app-icon-button
    (click)="publish()"
    [isLoading]="isPublishing"
    [size]="'1.6rem'"
    [tip]="'Publish'"
  >
    <app-upload-svg
      [size]="'1.6rem'"
      [class]="'c-publish-button gc-svg gu-hover'"
    />
  </app-icon-button>
  <app-wysiwyg
    #wysiwyg
    [initialContent]="initialContent"
    [height]="'60vh'"
    class="c-wysiwyg"
  />
</div>
