<div>
  @if (isLoading) {
    <app-loading />
  } @else if (error) {
    <app-dialog [isCentral]="true">
      <div class="c-error w-[60vw] tablat:w-[45vw] pc:w-[25rem]">
        <h2 class="gd-title text-error">Error</h2>
        <p class="text-error px-4 tablat:px-8">{{ error }}</p>
        <button
          class="gd-button gd-error-button w-full mt-3"
          (click)="onErrorDialogSubmit()"
        >
          OK
        </button>
      </div>
    </app-dialog>
  } @else {
    <app-dialog>
      <div class="c-content w-[60vw] tablat:w-[45vw] pc:w-[25rem]">
        <h2 class="c-title gd-title">Sign In</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
          <div class="c-email">
            <label for="email" class="gd-text">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              required
              class="w-full gd-input"
            />
            @if (email.invalid && (email.dirty || email.touched)) {
              <div class="mt-1 gd-error-text">
                @if (email.errors?.["required"]) {
                  <div>Email is required.</div>
                } @else if (email.errors?.["email"]) {
                  <div>Invalid address format.</div>
                } @else if (email.errors?.["unRegistered"]) {
                  <div>Email hasn't been registered.</div>
                }
              </div>
            }
          </div>
          <div class="c-password">
            <div class="c-password-label">
              <label for="password" class="gd-text">Password</label>
              <button (click)="onRequestReset()" class="gc-link-button text-sm">
                Forgot?
              </button>
            </div>
            <input
              type="password"
              name="password"
              id="password"
              formControlName="password"
              class="w-full gd-input"
            />
            @if (password.invalid && (password.dirty || password.touched)) {
              <div class="mt-1 gd-error-text">
                @if (password.errors?.["minlength"]) {
                  <div>Password must be at least 6 characters long.</div>
                } @else if (password.errors?.["required"]) {
                  <div>Password is required.</div>
                }
              </div>
            }
          </div>
          <button
            type="submit"
            [disabled]="!form.valid"
            class="bg-focus gd-button w-full mt-3"
          >
            Sign In
          </button>
        </form>
        <p class="c-tips gd-text">
          <span>Don't have an account?</span
          ><button
            (click)="onCreateAccount()"
            class="gc-link-button text-sm ml-4"
          >
            Sign Up
          </button>
        </p>
      </div>
    </app-dialog>
  }
</div>
