<section appSlider [slideDelay]="200" class="c-container relative z-20">
  <div *ngIf="!isSubmitted; else loader" class="c-dialog d-box">
    <h2 class="c-title d-title">Sign In</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
      <div class="c-email">
        <label for="email" class="d-text">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
          class="w-full d-input"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="mt-1 d-error-text"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid address format.</div>
          <div *ngIf="email.errors?.['unRegistered']">
            Email hasn't been registered.
          </div>
        </div>
      </div>
      <div class="c-password">
        <div class="c-password-label">
          <label for="password" class="d-text">Password</label>
          <button (click)="onRequestReset()" class="g-link-button text-sm">
            Forgot?
          </button>
        </div>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
          class="w-full d-input"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="mt-1 d-error-text"
        >
          <div *ngIf="password.errors?.['required']">Password is required.</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!form.valid"
        class="bg-focus d-button w-full mt-3"
      >
        Sign In
      </button>
    </form>
    <p class="c-tips d-text">
      <span>Don't have an account?</span
      ><button (click)="onCreateAccount()" class="g-link-button text-sm ml-4">
        Sign Up
      </button>
    </p>
  </div>
  <ng-template #loader>
    <app-loader
      [title]="'Logging...'"
      [status]="loaderStatus"
      [prompt]="loaderPrompt"
      (submitted)="reEdit()"
      class="c-loader"
    ></app-loader>
  </ng-template>
</section>
