.c-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "dialog";
}

.c-dialog {
  grid-area: dialog;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "form"
    "tips";
  row-gap: theme(spacing.7);
}

.c-title {
  grid-area: title;
}

.c-form {
  grid-area: form;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "email"
    "password"
    "button";
  row-gap: theme(spacing.6);
}

.c-tips {
  grid-area: tips;
  justify-self: end;
}

.c-email {
  grid-area: email;
}

.c-email label:after {
  content: "*";
  color: theme("colors.error");
}

.c-password {
  grid-area: password;
}

.c-password label:after {
  content: "*";
  color: theme("colors.error");
}

.c-password-label {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.c-button {
  grid-area: button;
}

.c-loader {
  grid-area: dialog;
}

@media screen and (min-width: theme("screens.sm")) {
  .c-container {
    grid-template-columns: 60vw;
    justify-content: center;
  }
  .c-form {
    row-gap: theme(spacing.7);
  }
}

@media screen and (min-width: theme("screens.lg")) {
  .c-container {
    grid-template-columns: 25vw;
  }

  .c-dialog {
    row-gap: theme(spacing.10);
  }

  .c-form {
    row-gap: theme(spacing.8);
  }
}
