<div
  [class]="['h-screen', 'c-container', isDark ? 'c-bg-dark' : 'c-bg']"
  (click)="toggleMenuBtn()"
>
  <app-overlay></app-overlay>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  <button
    (click)="displayMenu()"
    [class.scale-0]="!showMenuBtn"
    class="menu-btn lg:hidden fixed p-1 bottom-10 right-smPadding z-20 rounded-full border border-bdc dark:border-bdc-dark g-transition-transform"
  >
    <svg-icon
      src="assets/icons/plus.svg"
      [svgClass]="[
        'g-svg',
        'opacity-25',
        'g-transition-transform',
        isMenuShow ? 'rotate-45' : ''
      ]"
    ></svg-icon>
  </button>
</div>
