.c-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: theme("spacing.smPageXspan") 1fr theme("spacing.smPageXspan");
  grid-template-areas:
    "navbar navbar navbar"
    "left-padding page right-padding"
    "footer footer footer";
}

.c-navbar {
  grid-area: navbar;
}

.c-page {
  grid-area: page;
}

.c-footer {
  grid-area: footer;
}


@media screen and (min-width: theme("screens.sm")) {
  .c-container {
    grid-template-columns: theme("spacing.mdPageXspan") 1fr theme(
        "spacing.mdPageXspan"
      );
  }
}

@media screen and (min-width: theme("screens.lg")) {
  .c-container {
    grid-template-columns: theme("spacing.lgPageXspan") 1fr theme(
        "spacing.lgPageXspan"
      );
  }
}
