/* editor height */
:host ::ng-deep .ck-editor__editable_inline {
  height: var(--height);
  padding: 0 2rem;
}

/* editor background-color */
:host ::ng-deep .ck-content {
  background-color: theme("colors.primaryBg") !important;
}
