<div>
  @if (showUploader) {
    <app-uploader
      [folderId]="avatarFolderId"
      [allowedExtensions]="['.png', '.jpg', '.jpeg', '.webp']"
      (successful)="onAvatarUploaded($event)"
      (failed)="showUploader = false"
    />
  } @else {
    <div
      appFadeIn
      [fadeInDelay]="300"
      class="c-container mt-24 tablat:mt-48 pc:mt-[20vh]"
    >
      <div class="c-content">
        <app-user-avatar
          [size]="'6rem'"
          [avatarId]="account.avatar?.id"
          (click)="onAvatarClick()"
        />
        <div>
          <input
            [(ngModel)]="alais"
            class="w-auto bg-inputBg border-b border-border outline-none leading-relaxed text-text text-center text-base"
            (keydown.enter)="saveAlais()"
          />
          <app-action-icon
            [isLoading]="isChangingAlais"
            [size]="'1.4rem'"
            [tip]="'Save'"
            [tipPosition]="'right'"
          >
            <app-save-svg
              (click)="saveAlais()"
              [size]="'1.4rem'"
              [class]="'gc-svg gu-hover'"
            />
          </app-action-icon>
        </div>
        <button (click)="onLogout()" class="gd-button">Logout</button>
      </div>
    </div>
  }
</div>
