.c-content {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  grid-row-gap: theme("spacing.20");
}

.c-avatar {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
}

.c-badge {
  place-self: end;
}

@media screen and (min-width: theme("screens.tablat")) {
}

@media screen and (min-width: theme("screens.pc")) {
  .c-content {
    grid-row-gap: theme("spacing.24");
  }
}
