a {
  cursor: pointer;
}

button {
  -webkit-tap-highlight-color: transparent;
  @apply transition-colors duration-200 ease-in-out;
}

button:disabled {
  cursor: not-allowed;
}

/* hide chrome scrollbar */
::-webkit-scrollbar {
   display:none;
}
