:root {
  /* elements */
  --colors-logo: theme("colors.gray.700");
  --colors-app-bg: theme("colors.white");
  --colors-mask-bg: theme("colors.gray.300");
  --colors-phrase-bg: theme("colors.rose.100");
  --colors-card-bg: theme("colors.gray.100");
  --colors-banner-title: theme("colors.gray.50");
  --colors-banner-subtitle: theme("colors.gray.200");
  --colors-input-bg: theme("colors.white");
  --colors-footer-bg: theme("colors.gray.100");
  --colors-button-bg: theme("colors.blue.50");
  --colors-button-text: theme("colors.gray.50");
  --colors-title: theme("colors.gray.700");
  --colors-hl-title: theme("colors.red.400");
  --colors-text: theme("colors.gray.500");
  --colors-border: theme("colors.gray.300");

  /* status */
  --colors-hover: theme("colors.blue.200");
  --colors-focus: theme("colors.blue.400");
  --colors-error: theme("colors.red.500");
  --colors-ok: theme("colors.blue.500");
}

.night {
  /* elements */
  --colors-logo: theme("colors.gray.100");
  --colors-app-bg: theme("colors.gray.900");
  --colors-mask-bg: theme("colors.gray.700");
  --colors-phrase-bg: theme("colors.gray.700");
  --colors-card-bg: theme("colors.gray.700");
  --colors-banner-title: theme("colors.gray.50");
  --colors-banner-subtitle: theme("colors.gray.200");
  --colors-input-bg: theme("colors.gray.800");
  --colors-footer-bg: theme("colors.gray.800");
  --colors-button-bg: theme("colors.gray.700");
  --colors-button-text: theme("colors.gray.50");
  --colors-title: theme("colors.gray.100");
  --colors-hl-title: theme("colors.red.400");
  --colors-text: theme("colors.gray.200");
  --colors-border: theme("colors.gray.600");

  /* status */
  --colors-hover: theme("colors.gray.500");
  --colors-focus: theme("colors.blue.400");
  --colors-error: theme("colors.red.500");
  --colors-ok: theme("colors.blue.500");
}
