@media screen and (min-width: theme("screens.tablet")) {
  .c-container {
    display: grid;
    grid-template-rows: auto, auto;
    grid-template-columns: 8fr 2fr 2fr 5fr;
    grid-template-areas:
      "title save-button publish-button space"
      "wysiwyg wysiwyg wysiwyg wysiwyg";
    row-gap: 3.5rem;
  }

  .c-title {
    grid-area: title;
  }

  .c-save-button {
    grid-area: save-button;
  }

  .c-publish-button {
    grid-area: publish-button;
  }

  .c-wysiwyg {
    grid-area: wysiwyg;
  }
}

@media screen and (min-width: theme("screens.pc")) {
  .c-container {
    grid-template-columns: 8fr 1fr 1fr 5fr;
  }
}
