<div appFadeIn class="c-container gu-rm-page-span overflow-hidden">
  <app-snow-bg class="c-snow w-full h-[82vh] pc:pt-12" />
  <div class="c-content">
    <!--TODO remove text color  -->
    <p
      class="c-description text-center tablat:text-xl pc:text-3xl tracking-wider font-light text-gray-500 pb-2 mt-6"
    >
      {{ text }}
    </p>
    <button appBackButton class="c-action gc-button px-2 mt-[6vh] pc:mt-[7vh]">
      <app-larrow-svg
        [class]="['inline-block', 'align-middle', 'gc-svg', 'mr-2']"
      />
      <p class="inline-block align-middle pr-1 gc-text">Go Back</p>
    </button>
  </div>
</div>
