.c-container {
  display: grid;
  grid-row-gap: theme(spacing.5);
  align-items: center;
}

.c-actions {
  justify-self: center;
}

.c-body {
  word-break: break-word;
}

@media screen and (min-width: theme("screens.tablet")) {
  .c-container {
    grid-row-gap: theme(spacing.7);
  }
}

@media screen and (min-width: theme("screens.pc")) {
  .c-container {
    grid-row-gap: theme(spacing.8);
  }
}
