<section class="c-container">
  <div class="c-dialog d-bg p-8 my-32 lg:my-[25vh]">
    <h2 class="c-title d-title">Sign Up</h2>
    <form [formGroup]="form" class="c-form">
      <div class="c-email">
        <label for="email" class="d-label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
          class="inline-block w-full d-input"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="d-form-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid address format.</div>
          <div *ngIf="email.errors?.['unregistered']">
            Email has been registered.
          </div>
        </div>
      </div>
      <button
        #signUpBtn
        [disabled]="!form.valid"
        class="c-button d-button w-full mt-3"
      >
        Sign Up
      </button>
    </form>
    <p class="c-tips d-tips">
      <span>Have an account ?</span
      ><a
        routerLink="../{{ AccountUrlEnum.SignIn }}"
        class="text-sm g-link pl-4"
        >Sign In</a
      >
    </p>
  </div>
</section>
