<section appSlider [slideDelay]="200" class="c-container">
  <div *ngIf="!isSubmitted; else prompt" class="c-dialog d-box">
    <h2 class="c-title d-title">Sign Up</h2>
    <form [formGroup]="form" class="c-form">
      <div class="c-email">
        <label for="email" class="d-subText">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
          class="inline-block w-full d-input dark:ring-0"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="d-form-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid address format.</div>
          <div *ngIf="email.errors?.['unregistered']">
            Email has been registered.
          </div>
        </div>
      </div>
      <button
        #createBtn
        [disabled]="!form.valid"
        class="c-button d-button w-full mt-3"
      >
        Sign Up
      </button>
    </form>
    <p class="c-tips d-subText">
      <span>Have an account ?</span
      ><a routerLink="../{{ AccountUrlEnum.Login }}" class="text-sm g-link pl-4"
        >Sign In</a
      >
    </p>
  </div>
  <ng-template #prompt>
    <app-prompt
      [status]="promptStatus"
      [prompt]="promptText"
      class="c-prompt"
    ></app-prompt>
  </ng-template>
</section>
