<section appSlider [slideDelay]="200" class="c-container">
  <div *ngIf="!isSubmitted; else loader" class="c-dialog d-box">
    <h2 class="c-title d-title">Sign Up</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
      <div class="c-email">
        <label for="email" class="d-subText">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
          class="inline-block w-full d-input dark:ring-0"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="d-form-error"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid address format.</div>
          <div *ngIf="email.errors?.['registered']">
            Email has been registered.
          </div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!form.valid"
        class="d-button bg-focus w-full mt-3"
      >
        Sign Up
      </button>
    </form>
    <p class="c-tips d-subText">
      <span>Have an account ?</span
      ><button (click)="onLogin()" class="g-button-link text-sm ml-4"
        >Sign In</button>
    </p>
  </div>
  <ng-template #loader>
    <app-loader
      [title]="'SignUp...'"
      [status]="loaderStatus"
      [prompt]="loaderPrompt"
      (submitted)="goback()"
      class="c-loader"
    ></app-loader>
  </ng-template>
</section>
