<section
  appSlider
  [slideDelay]="200"
  class="c-container my-20 sm:my-36 lg:my-[17vh]"
>
  <div *ngIf="!isLoaderActived" class="c-dialog d-box">
    <h2 class="c-title d-title">Sign Up</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="c-form">
      <div class="c-email">
        <label for="email" class="d-text">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          required
          class="inline-block w-full d-input dark:ring-0"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="mt-1 d-error-text"
        >
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid address format.</div>
          <div *ngIf="email.errors?.['registered']">
            Email has been registered.
          </div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!form.valid"
        class="d-button bg-focus w-full mt-3"
      >
        Sign Up
      </button>
    </form>
    <p class="c-tips d-text">
      <span>Have an account ?</span
      ><button (click)="routeToLogin()" class="g-link-button text-sm ml-4">
        Sign In
      </button>
    </p>
  </div>
  <app-loader
    *ngIf="isLoaderActived"
    [title]="'SignUp...'"
    [status]="loaderStatus"
    [prompt]="loaderPrompt"
    [stayWhenSuccessful]="true"
    [stayWhenFailed]="true"
    (failed)="goback()"
    (successful)="routeToLogin()"
    class="c-loader mt-12 sm:mt-16"
  ></app-loader>
</section>
