@tailwind base;
@tailwind components;

@layer base {
  @import "css/base.css";
}

@layer components {
  /* transition */
  .g-transition-colors {
    @apply transition-colors duration-300 ease-in-out;
  }

  .g-transition-transform {
    @apply transition-transform duration-[400ms] ease-in-out;
  }
  /* transition end */

  /* action */
  .g-hover {
    @apply hover:text-focus dark:hover:text-focus-dark g-transition-colors;
  }

  .g-focus {
    @apply focus:text-focus focus:outline-none dark:focus:text-focus-dark g-transition-colors;
  }

  .g-active {
    @apply !text-focus dark:!text-focus-dark;
  }
  /* action end */

  /* text */
  .g-title {
    @apply tracking-wide text-title dark:text-title-dark g-transition-colors;
  }

  .g-title-inverted {
    @apply tracking-wide text-title-dark dark:text-title g-transition-colors;
  }

  .g-text {
    @apply tracking-wide text-text dark:text-text-dark g-transition-colors;
  }

  .g-text-inverted {
    @apply tracking-wide text-text-dark dark:text-text g-transition-colors;
  }
  /* text end */

  /* widget */
  .g-svg {
    @apply w-6 h-6 fill-current border-none focus:ring-0 g-text;
  }

  .g-svg-inverted {
    @apply w-6 h-6 fill-current border-none focus:ring-0 g-text-inverted;
  }

  .g-button {
    @apply p-1 rounded-md bg-blue-50 hover:bg-blue-200 dark:bg-gray-700  dark:hover:bg-gray-500 g-transition-colors;
  }

  .g-scrollbar {
    @apply scrollbar-thin scrollbar-w-1.5 scrollbar-thumb-border scrollbar-track-background;
  }

  .g-scrollbar-dark {
    @apply scrollbar-thin scrollbar-w-1.5 scrollbar-thumb-border-dark scrollbar-track-background-dark;
  }

  .g-scrollbar-hidden {
    @apply scrollbar-none;
  }

  .g-border {
    @apply border-border dark:border-border-dark;
  }

  .g-bg {
    @apply bg-background dark:bg-background-dark;
  }

  .g-bg-inverted {
    @apply dark:bg-background bg-background-dark;
  }
  .g-slider {
    position: relative;
    transform: translateY(30px);
    opacity: 0;
  }

  .g-slider-lg {
    position: relative;
    transform: translateY(60px);
    opacity: 0;
  }

  .g-slider-500ms {
    transition: 0.5s all ease;
  }

  .g-slider-1500ms {
    transition: 1.5s all ease;
  }

  .g-slider-active {
    transform: translateY(0);
    opacity: 1;
  }

  .g-link {
    @apply text-focus;
  }
  /* widget end */

  @import "css/dialog.css";
}

@tailwind utilities;
