<section appFader class="c-container">
  <div class="c-banner lg:mt-12 h-[47rem] lg:h-[50rem] bg-cover bg-center">
    <p
      appSlider
      [slideDelay]="200"
      class="text-center mt-48 lg:mt-56 mx-14 font-light text-2xl lg:text-6xl tracking-wide text-pageTitle"
    >
      Learning Pali language
    </p>
    <p
      appSlider
      [slideDelay]="800"
      class="text-center mx-14 mt-8 lg:mt-10 lg:text-xl tracking-wide font-light text-pageSubTitle"
    >
      Explore the most authentic and ancient Buddhist sutra on your own
    </p>
    <button
      appFader
      [fadeDelay]="1600"
      class="mt-24 g-hl-button grid grid-flow-col"
    >
      <span class="self-center lg:text-xl"> Tutorial </span>
      <svg-icon
        src="assets/icons/arrow_right.svg"
        [svgClass]="['w-8', 'h-8', 'ml-2', 'fill-gray-50', 'inline-block']"
      ></svg-icon>
    </button>
  </div>
  <div class="c-phrase mt-16 lg:mt-44">
    <app-phrase></app-phrase>
  </div>
  <div class="c-intro my-16 lg:my-44">
    <div *ngFor="let module of modules" class="c-section g-card p-5 lg:p-7">
      <div>
        <p class="g-hl-title">{{ module.name | titlecase }}</p>
        <p class="mt-3 g-paragraph">{{ module.description }}</p>
      </div>
      <div class="c-link">
        <button
          routerLink="/{{ module.route }}"
          class="g-link-button mt-5 mx-auto"
        >
          <span class="self-center tracking-wide text-sm capitalize"
            >read more</span
          >
          <svg-icon
            src="assets/icons/arrow_right.svg"
            [svgClass]="['w-7', 'h-7', 'ml-1', 'fill-blue-400', 'inline-block']"
          ></svg-icon>
        </button>
      </div>
    </div>
  </div>
</section>
