<section class="c-container g-bg">
  <div class="c-banner lg:mt-12 h-[47rem] lg:h-[50rem] bg-cover bg-center">
    <p
      appLoadSlide
      [slideDelay]="500"
      class="text-center mt-48 lg:mt-56 px-14 font-light text-2xl lg:text-6xl tracking-wide text-gray-50"
    >
      Learning Pali language
    </p>
    <p
      appLoadSlide
      [slideDelay]="1000"
      class="text-center px-14 pt-8 lg:pt-10 lg:text-xl tracking-wide font-thin text-gray-200"
    >
      Explore the most authentic and ancient Buddhist sutra on your own
    </p>
    <button
      appLoadSlide
      [slideDelay]="1500"
      class="mt-24 py-1 px-4 grid grid-flow-col rounded-md mx-auto bg-blue-400"
    >
      <span
        class="inline-block self-center lg:text-xl tracking-wide font-light text-gray-50"
      >
        Tutorial
      </span>
      <svg-icon
        src="assets/icons/arrow_right.svg"
        [svgClass]="['w-8', 'h-8', 'pl-2', 'fill-gray-50', 'inline-block']"
      ></svg-icon>
    </button>
  </div>
  <div
    class="c-vacana h-[45rem] lg:h-[50rem] bg-cover bg-center lg:mt-12"
  ></div>
  <div class="c-intro h-[45rem] lg:h-[50rem] bg-cover bg-center lg:mt-12"></div>
</section>
